/* Variáveis globais : tamanho em pixel do tabuleiro e cor das casas */
:root {
    --white-square: #fff4ad;
    --black-square: #3b3636;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, minmax(40px, 5.5vw));
    grid-template-rows: repeat(8, minmax(40px, 5.5vw));
}

#chessboard .black-square {
    background-color: var(--black-square);
    display: flex;
}

#chessboard .white-square {
    background-color: var(--white-square);
    display: flex;
}

.text {
    position: absolute;
}
