:root {
    --white-square: #e4e3dc;
    --black-square: #1f1f1f;
}

.tile{
    display: grid;
    place-content: center;
}
.tile .chess-piece{
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.tile .chess-piece:hover{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}
.black-square {
    background-color: var(--black-square);
}

.white-square {
    background-color: var(--white-square);
}
